* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #1F2937;
    color: #fff;
    padding: 15px;
    font-family: 'Roboto', sans-serif;
}

#navbar .logo {
    padding-left: 2rem;
    flex: 1 1 0%;
}

.nav-links {
    flex: 1 2 0%;
}

.nav-links ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    gap: .5rem;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
}

.hamburger {
    margin-right: 2rem;
}

.hamburger .menuIcon, .hamburger .closeIcon {
    padding: 10px;
    display: block;
}

.hamburger .closeIcon {
    display: none;
    padding: 10px;
}

.ham-links {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #1F2937;
    width: 100%;
    z-index: 999;
}

.ham-menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.ham-menu li {
    padding: 15px;
}

.menuItem {
    text-decoration: none;
    color: #fff;
}


@media screen and (min-width: 450px) {
    .hamburger {
        display: none;
    }
}

@media screen and (max-width: 450px) {
    .nav-links ul {
        display: none;
    }
}

#hero {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    background-image: url(./assets/mountains-clouds.gif);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.hero-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin: 2rem;
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 800px) {
    .hero-box {
        flex-wrap: wrap;
    }
}

.hero-text {
    text-align: left;
    padding: 2rem;
}

.hero-text h1 {
    font-size: 40px;
    margin-bottom: 1rem;
}

.hero-text p {
    font-size: 18px;
    margin-bottom: 1rem;
}

.hero-text button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #2d6dc0;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    width: 60%;
}

.hero-img {
    display: flex;
    justify-content: center;
}

.omniPic {
    border-radius: 20px;
    max-width: 80%;
}